@import url("https://fonts.google.com/specimen/Spartan");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
  margin: 0;
  padding: 0;
}

.calculator {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
  box-sizing: border-box;
  margin-top: 17vh;
}

.calculator button {
  cursor: pointer;
  outline: none;
  height: 100px;
  border: 1px solid whitesmoke;
  background: rgba(51, 21, 21, 0.75);
  color: black;
  font-size: 2em;
}

.container {
  grid-column: 1/-1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  word-wrap: break-word;
  word-break: break-all;
}

.double {
  grid-column: span 2;
}

.firstDiv {
  padding: 5px;
  color: beige;
  font-style: 2.5em;
}

.secDiv {
  padding: 5px;
  color: beige;
  font-size: 1.5rem;
}
